<link rel="stylesheet" href="https://storage.piksl.io/1.css/desktop/1.mainpages/index/index.css">
<script src="https://storage.piksl.io/2.js/desktop/mainpages/index/index.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/index/mobileindex.js"></script>


</head>

<body style="background-color: #111111;">
    <div id="loading"> <img id="loadingimg" src="https://storage.piksl.io/3.images/loading.gif" width="4%"
            style="display: none; ">
    </div>
    <div id="body" style="display: none;">
        {{> 0.layout/global/header}}
        <div id="desktop" style="padding-bottom: 5%; padding-top:2.5%; font-size:80%;">
            <div id="outer"
                style="background-color: #323232;  margin-left:20%; margin-right:20%; border-radius:12.5px; padding-left:5%; padding-right:5%; padding-top:2.5%; padding-bottom:2.5%;">

                <div id="inner">
                    <p id="headingp" style="font-size: 300%; font-weight: bold; ">Privacy Policy</p>
                    <p>Piksl's Privacy Policy describes how Piksl collects, uses, and shares your personal data.</p>
                    <br>
                    <p>Please take a moment to familiarize yourself with our privacy practices.</p>
                    <br>
                    <p>By accessing and using the Site, you agree to the practises mentioned in this Privacy
                        Statement and any subsequent changes. To ensure that you are aware of any changes,
                        you should review our Privacy Policy on a regular basis.</p>
                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">Data Collection</p>
                    <p>On the Site, we gather data from you in a variety of ways, including personal data and
                        data about your use of the Site that does not individually identify you. Personal data
                        refers to any piece of information, or combination of pieces of information, that may
                        fairly be used to identify an individual (such as your name, phone number, address, and
                        email address). We gather personal data that you supply to us willingly. We gather
                        personal data that you supply us with willingly (for example, when you submit an
                        enquiry), such as your name, email address, and any other information you want to
                        offer. We acquire data about your usage of the Site automatically. When you access and
                        use the Site, our technology and tools may collect and store some data about your use
                        and interaction with the Site that does not individually identify you (such as your IP
                        address, browser type, the make and model of the device used to view the Site, unique
                        device identifiers, the referring webpage, pages visited, and search terms).</p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">Utilization of Collected Data</p>
                    <p>We gather data to aid in the administration and operation of the Site, as well as to offer
                        you an efficient, meaningful, and tailored experience.<br><br>
                        We may use data to Meet our obligations relating to the reason you voluntarily provided
                        the data (for example, responding to an inquiry or providing you with information,
                        products, or services that you request from us or that may be of interest to you); Enable
                        you to participate in certain features of the Site; Improve the Site or our products,
                        events, and services, as well as for other business or commercial purposes; Optimize
                        your experience on the Site (for example, troubleshooting);<br><br>
                        Co-brand services and features (for example, competitions, sweepstakes, and other
                        promotions);<br><br>
                        Notify you of changes to the Site (including this Privacy Statement); Perform any other
                        purpose specified to you at the time the data was collected, and Perform any other
                        purpose with your permission or as authorized by law.<br><br>
                        Additionally, we may use data for marketing purposes to:<br><br>
                        Send you additional information about Piksl, promotions, and services that may be of
                        interest to you via email, text message, or advertising on various social media platforms
                        or websites (both desktop and mobile) that you visit;
                    </p>


                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">Data Sharing</p>
                    <p>We may share the information we gather in the following ways:<br><br>
                        With our present and future parents, affiliates, subsidiaries, and other businesses that
                        are controlled and owned in a similar manner;<br><br>
                        With our service providers who provide us with services (such as email and mobile
                        marketing, analytics, and web hosting); With our sponsors, promotional partners, or
                        event partners in connection with certain contests, sweepstakes, promotions, or ticketed
                        events; To comply with a court order or other legal obligation, to enforce the Site's terms
                        of use, and to protect our users' and other third parties rights, property, or safety;<br><br>
                        With government or law enforcement officials or private parties (including our legal or
                        other professional advisors), as we determine in our sole and absolute discretion is
                        necessary or appropriate to respond to claims, comply with legal processes, laws,
                        regulations, or ordinances, or to prevent or stop an illegal, unethical, or actionable
                        activity; In connection with, or during negotiations of, any merger, acquisition by another
                        company, or sale of all or substantially all of our assets;</p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">Data Protection</p>
                    <p>We use commercially reasonable technological and organizational safeguards to assist in securing
                        and
                        safeguarding your data while it is in our control. However, no data transfer over the Internet
                        is
                        100% safe, and no security system is fully impregnable. As a result, although we take reasonable
                        precautions to secure your data, we cannot guarantee the security of the data we acquire from
                        you,
                        our servers, or the Site. By visiting the Site, you accept that any data communication is at
                        your
                        own risk and that you will bear all risks associated with data transmitted to us or collected by
                        us.
                    </p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">Retention of Data</p>
                    <p>We maintain data for as long as it is required to fulfill the original purpose(s) for which it
                        was gathered. Please keep in mind that we may maintain your data for extended
                        periods of time if required to comply with legal requirements or react to requests from
                        governmental agencies.
                    </p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">Preferences for Data</p>
                    <p>Use of Collected Data If you desire to opt-out of future emails or other communications
                        from Piksl, please follow the instructions included in the emails.
                    </p>

                </div>
            </div>
        </div>
        <!---Desktop Site-->


        <!---Mobile Site-->
        <div id="mobile" style="padding-left: 7.5%; padding-right:7.5%; padding-bottom:15%; padding-top:5%;">

        </div>
        <!---Mobile Site-->
        {{> 0.layout/global/footer}}
    </div>
</body>

<script>

    window.addEventListener('load', async function () {



        if (window.innerWidth < 767) {
            //$('#marquee').marquee({ duration: 5000 });
            //document.getElementById("marquee").style.width = window.innerWidth + "px";
            document.getElementById("desktop").style.display = "none";
            document.getElementById("mobile").style.display = "block";
            $("#inner").appendTo("#mobile");
            document.getElementById("headingp").style.fontSize = "250%";
            document.getElementById("headingp").style.paddingBottom = "5%";




        } else {
            //$('#marquee').marquee({ duration: 15000 });
            //document.getElementById("marquee").style.width = window.innerWidth + "px";
        }
    });
</script>