<link rel="stylesheet" href="https://storage.piksl.io/1.css/desktop/1.mainpages/index/index.css">
<script src="https://storage.piksl.io/2.js/desktop/mainpages/index/index.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/index/mobileindex.js"></script>


</head>

<body style="background-color: #111111;">
    <div id="loading"> <img id="loadingimg" src="https://storage.piksl.io/3.images/loading.gif" width="4%"
            style="display: none; ">
    </div>
    <div id="body" style="display: none;">
        {{> 0.layout/global/header}}
        <div id="desktop" style="padding-bottom: 5%; padding-top:2.5%; font-size:80%;">
            <div id="outer"
                style="background-color: #323232; margin-left:20%; margin-right:20%; border-radius:12.5px; padding-left:5%; padding-right:5%; padding-top:2.5%; padding-bottom:2.5%;">

                <div id="inner">
                    <p id="headingp" style="font-size: 300%; font-weight: bold;">Terms of Use</p>
                    <p>These terms and conditions govern your use of Piksl's website, which is situated at
                        www.piksl.io, as well as any affiliated websites that are linked to www.piksl.io by Piksl,
                        its subsidiaries, and affiliates, including Piksl sites located across the globe (collectively,
                        the "Site"). The Site is the property of Piksl. YOU AGREE TO THESE TERMS OF USE
                        BY USING THE SITE; IF YOU DO NOT AGREE, DO NOT USE THE SITE.<br><br>
                        Piksl reserves the right, at its sole discretion, to change, modify, add or remove portions
                        of these Terms of Use, at any time. It is your responsibility to check these Terms of Use
                        periodically for changes. Your continued use of the Site following the posting of changes
                        will mean that you accept and agree to the changes. As long as you comply with these
                        Terms of Use, Piksl grants you a personal, non-exclusive, non-transferable, limited
                        privilege to enter and use the Site.</p>
                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">1. Prohibited Uses. Users must not, directly or
                        indirectly:</p>
                    <p>(a) employ any device, scheme or artifice to defraud, or otherwise materially mislead,
                        Piksl Company, or any member of the Piksl Community, including by impersonating or
                        assuming any false identity;<br><br>
                        (b) engage in any act, practice or course of business that operates or would operate as
                        a fraud or deceit upon the Piksl Company, or any member of the Piksl Community;<br><br>
                        (c) violate, breach or fail to comply with any applicable provision of these Terms or any
                        other terms of service, privacy policy, trading policy or other contract governing the use
                        of any the Offerings or any relevant NFTs or Collectibles;<br><br>
                        (d)You may not attempt to gain unauthorized access to any portion or feature of the
                        Site, or any other systems or networks connected to the Site or to any Piksl server, or to
                        any of the services offered on or through the Site, by hacking, password "mining" or any
                        other illegitimate means.<br><br>
                        (e) engage or attempt to engage in or assist any hack of or attack on the Piksl Site,
                        Piksl DEX System, or any member of the Piksl Community, including any “sybil attack”,
                        “DoS attack” or “griefing attack” or theft of Collectibles, funds, or upload files that
                        contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files, or any
                        other similar software or programs that may damage the operation of another’s
                        computer or property or interfere with the Offerings;<br><br>
                        (f) commit any violation of applicable laws, rules, or regulations;<br><br>
                        (g) defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights (such as
                        rights of privacy and publicity) of others.
                    </p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">2. Risks, Disclaimers, and Limitations of Liability.
                    </p>
                    <p>2.1 No Consequential, Incidental, or Punitive Damages. Regardless of anything
                        contained in these Terms, Piksl Company shall not be liable to any person for special,
                        incidental, consequential, indirect, punitive, or exemplary damages (including but not
                        limited to lost data, lost profits or savings, loss of business, or other economic loss)
                        arising out of or related to these Terms, whether or not based on negligence.<br><br>
                        2.2 Limitation of Liability. Piksl Company’s liability for damages to each User shall in all
                        cases be limited to, and under no circumstances shall exceed, Piksl Company’s service
                        fees actually received by Piksl Company from such User, which can even be nill in case
                        of no service fee charged.<br><br>
                        2.3 No Professional Advice or Liability. All material supplied by or on behalf of Piksl
                        Company is general in nature and should not be interpreted as professional,
                        accounting, or legal advice. Users shall not act or abstain from acting based on
                        information included in these Terms or given by or on behalf of Piksl Company. Before
                        making any financial, legal, or other decision about the Offerings, Users should get
                        independent professional advice from people who are licensed and competent in the
                        area for which such advice is appropriate.<br><br>
                        2.4 Third-Party Offerings and Content. In conjunction with the Offerings, Users may be
                        supplied with references, links, or referrals to or connections with or dependence on
                        third-party resources, goods, services, or information, including smart contracts
                        produced or maintained by third parties. Additionally, third parties may run promotions in
                        connection with the Offerings. Piksl Company does not support or accept responsibility
                        for the actions, resources, goods, services, content, or promotions of third-party owners,
                        controlees, operators, or sponsors. If Users access or engage in any such resources,
                        goods, services, or material, they do so entirely at their own risk. Each User explicitly
                        waives and releases Piksl Company from any and all responsibility arising out of User's
                        use of such resources, goods, services, or content, or participation in any and all such
                        promotions. Additionally, the user understands and accepts that Piksl Company shall
                        not be liable, directly or indirectly, for any damage or loss caused or claimed to be
                        caused by or in connection with the use of or reliance on any such resources, goods,
                        services, content, or promotions from third parties.<br><br>
                        2.5 Certain Uses and Risks of Blockchain Technology.<br><br>
                        (a) Use of Blockchain Technology. Piksl Company conducts the Offerings via the use of
                        experimental cryptography and blockchain technologies, such as tokens,
                        cryptocurrencies, stablecoins, "smart contracts," consensus algorithms, and distributed,
                        decentralized, or peer-to-peer networks or systems. Each User understands and
                        accepts that since such technologies are unique, experimental, and speculative, there is
                        considerable ambiguity about their operation, consequences, and hazards, as well as
                        the applicability of current legislation.<br><br>
                        (b) Certain Risks of Blockchain Technology.
                        The technology used to distribute the Offerings is based on public peer-to-peer
                        networks, such as Ethereum, which are not within Piksl Company's control or influence
                        and are subject to many risks and uncertainties. These technologies include the Piksl
                        DEX System, which the Piksl Company may have little or no capacity to modify, save for
                        the purpose of discontinuing support for current "smart contracts" and introducing
                        support for new "smart contracts." Users are entirely responsible for maintaining the
                        confidentiality of the private key associated with the blockchain address used to
                        participate in the Offerings. In case of loss of private keys, Piksl Company will be
                        unable to recover or refund any Collectibles.<br><br>
                        (c) Certain Risks of Smart Contract Technology. Collectibles and other digital assets
                        related to the Piksl Platform are reliant on the Piksl DEX System or other Ethereum
                        smart contracts, some of which may have been created or implemented by parties other
                        than the Piksl Company. Once implemented on Ethereum, smart contracts, like the Piksl
                        DEX System, are impervious to modification. If the Piksl DEX System or other smart
                        contracts are compromised due to malfunctions, bugs, defects, hacking, theft, attacks,
                        careless coding or design choices, or changes to the Ethereum protocol rules, Users
                        may face the risk of total loss and forfeiture of all Collectibles and other relevant digital
                        assets. Except as specifically stipulated in these Terms or as required by relevant law,
                        Piksl Company disclaims all liability and responsibility for the following.<br><br>
                        (d) Asset Prices. Historically, the fiat-denominated prices and values of assets like as
                        ETH, NFTs, and Collectibles have been prone to huge variations and are very volatile.
                        Due to the fact that blockchain-based assets are relatively new products and
                        technology, they are not frequently recognised as a method of payment for goods and
                        services. The User acknowledges and agrees that the costs and speeds associated
                        with transacting with cryptographic and blockchain-based systems such as Ethereum
                        are variable and may dramatically increase or decrease at any time, resulting in a
                        prolonged inability to access or use any ETH, NFTs, Collectibles, or other digital assets
                        associated with the Piksl Platform.<br><br>
                        (e) Regulatory Uncertainty. Blockchain technologies and digital assets are subject to
                        numerous legal and regulatory uncertainties, and the Piksl Platform, NFTs, Collectibles,
                        and other digital assets may be adversely affected by one or more regulatory or legal
                        inquiries, actions, suits, investigations, claims, fines, or judgments, all of which may
                        impede or limit User's ability to continue using and enjoying such assets and
                        technologies.<br><br>
                        (f) Cryptography Risks. Cryptography is a rapidly developing field. Advances in code
                        cracking and technological advancements like as the advent of quantum computers
                        may pose hazards to Ethereum, the Piksl Platform, NFTs, and Collectibles, including
                        theft, loss, or inaccessibility.<br><br>
                        (g) Essential Third-Party Software Dependencies. The Piksl DEX System and other
                        Ethereum-based smart contracts are open-source software utilities that can be
                        accessed directly via an Ethereum node (such as Infura) or indirectly via any compatible
                        Ethereum "wallet" application (such as the web browser plugin Metamask) that
                        communicates with such a node. While using Piksl's website is not required to interact
                        with the Piksl DEX System, it does provide a convenient and user-friendly method of
                        reading and displaying data (including Collectible Metadata) from the Piksl DEX
                        System, as well as generating standard transaction messages compatible with the Piksl
                        DEX System.

                    </p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">3. Indemnity</p>
                    <p>
                        You agree to indemnify and hold harmless Piksl, its officers, directors, shareholders,
                        predecessors, successors in interest, employees, agents, subsidiaries, and affiliates
                        from and against any demands, loss, liability, claims, or expenses (including attorneys'
                        fees) made against Piksl by any third party in connection with your use of the Site

                    </p>
                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">4. Purchases</p>
                    <p>
                        Additional terms and conditions may apply to product and service transactions, as well
                        as to certain portions or features of the Site, such as competitions, promotions, or other
                        similar features, all of which are included in these Terms of Use by reference. You agree
                        to abide by any additional terms and conditions, which may include confirming, as
                        appropriate, that you are of legal age to use or participate in such service or feature. If
                        there is a conflict between these Terms of Use and the terms posted for or applicable to
                        a specific portion of the Site or a specific service provided on or through the Site, the
                        latter terms will govern your use of that component of the Site or service.<br><br>
                        Piksl's obligations with regard to its goods and services, if any, are defined only by the
                        agreements under which they are supplied, and nothing on this Site should be
                        construed to affect such agreements.<br><br>
                        Piksl has the right, at any time and without notice, to alter or terminate any goods or
                        services provided on the Site, as well as the associated price. The contents on the Site
                        concerning goods and services may be out of date, and Piksl offers no promise that the
                        materials on the Site about such things and services will be updated.


                    </p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">5. Accounts, Passwords, and Security
                    </p>
                    <p>
                        Certain features or services made available on or through the Site may need you to
                        register (including setting up a Piksl ID and password). You are fully responsible for
                        maintaining the secrecy of your account's details, including your password, and for any
                        and all activity that happens under your account as a consequence of your failure to do
                        so. You promise to promptly alert Piksl of any unauthorized use of your account or
                        password, or any other security violation. You may be held responsible for damages
                        incurred by Piksl or any other user of or visitor to the Site as a consequence of
                        someone else using your Piksl ID, password, or account as a result of your failure to
                        maintain the security and confidentiality of your account information.<br><br>
                        You may not use another person's Piksl ID, password, or account at any time without
                        the owner's express permission and approval. Piksl is not responsible for any loss or
                        damage incurred as a result of your failure to comply with these responsibilities.


                    </p>

                    <br><br>
                    <p style="font-weight: bold; font-size:120%;">Disclaimer
                    </p>
                    <p>
                        PIKSL MAKES NO WARRANTY THAT THE SITE OR ANY CONTENT, SERVICE, OR
                        FEATURE OF THE SITE WILL BE ERROR-FREE OR UNINTERRUPTED, OR THAT
                        DEFECTS WILL BE CORRECTED, OR THAT YOUR USE OF THE SITE WILL
                        PROVIDE SPECIFIC RESULTS. THE WEBSITE AND ITS CONTENTS ARE
                        PROVIDED "AS IS" AND "AS AVAILABLE." SUBJECT TO CHANGE WITHOUT
                        NOTICE, ALL INFORMATION PROVIDED ON THE SITE IS SUBJECT TO CHANGE.
                        PIKSL DOES NOT WARRANT THAT ANY FILES OR OTHER DATA THAT YOU
                        DOWNLOAD FROM THE SITE ARE FREE OF VIRUSES, CONTAMINATION, OR
                        DESTRUCTIVE FEATURES. PIKSL EXPRESSLY DISCLAIMS ALL WARRANTIES,
                        EXPRESS OR IMPLIED, INCLUDING IMPLIED WARRANTIES OF ACCURACY,
                        NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR
                        PURPOSE. PIKSL DISCLAIMS ALL LIABILITY FOR THIRD PARTY ACTS,
                        OMISSIONS, AND CONDUCT IN CONNECTION WITH OR RELATED TO YOUR USE
                        OF THE SITE AND/OR ANY PIKSL SERVICES. YOU ARE SOLELY RESPONSIBLE
                        FOR YOUR USE OF THE SITE AND ANY LINKED WEBSITES. YOUR SOLE
                        REMEDY IF YOU ARE DISSATISFIED WITH THE SITE OR ANY CONTENT IS TO
                        STOP USING THE SITE OR ANY SUCH CONTENT. THIS LIMITATION ON RELIEF IS
                        AN ESSENTIAL PART OF THE PARTIES' AGREEMENT

                    </p>

                </div>

            </div>
        </div>
        <!---Desktop Site-->


        <!---Mobile Site-->
        <div id="mobile" style="padding-left: 7.5%; padding-right:7.5%; padding-bottom:15%; padding-top:5%;">

        </div>
        <!---Mobile Site-->
        {{> 0.layout/global/footer}}
    </div>
</body>


<script>

    window.addEventListener('load', async function () {



        if (window.innerWidth < 767) {
            //$('#marquee').marquee({ duration: 5000 });
            //document.getElementById("marquee").style.width = window.innerWidth + "px";
            document.getElementById("desktop").style.display = "none";
            document.getElementById("mobile").style.display = "block";
            $("#inner").appendTo("#mobile");
            document.getElementById("headingp").style.fontSize = "250%";
            document.getElementById("headingp").style.paddingBottom = "5%";




        } else {
            //$('#marquee').marquee({ duration: 15000 });
            //document.getElementById("marquee").style.width = window.innerWidth + "px";
        }
    });
</script>