<div id="buy" style="display: none;">

  <div style="display: flex; padding-bottom:2.5%">
    <div style="width: 90%;">
      <p style="color: #808080;">Item</p>
    </div>
    <div style="width: 10%;">
      <p style="color: #808080; float:right">Subtotal</p>
    </div>
  </div>
  <hr class="solid" style="color : #414141; border-radius: 5px; border:1px solid #414141">

  <br>

  <div style="display: flex;">
    <div style="width: 90%;display:flex;">
      <img src="" id="checkoutimg" width="20%" style="border-radius: 12.5px; ">
      <div style="padding-left:5%;">
        <a class="bluelink">Drip Club</a>
        <p style="font-size: 120%; margin-top:-5%" id="buytokenid">#1</p>
      </div>

    </div>
    <div style="width: 10%;">
      <div style="float:right">
        <p id="checkoutsmallprice" class="icon ethicon">0.1</p>
      </div>
      <p style="float:right; color:#808080; font-size:90%;" id="checkoutsmallusdprice"></p>

    </div>
  </div>
  <br>
  <hr class="solid" style="color : #414141; border-radius: 5px; border:1px solid #414141">

  <div style="display: flex; padding-top:2.5%; padding-bottom:2.5%">
    <div style="width: 90%;">
      <p style="color: #808080; font-size:100%; margin-top:5%">Total</p>
    </div>
    <div style="width: 10%;">
      <p style="float:right; font-size:150%" id="checkoutprice" class="bluelink icon ethicon"></p>
      <p style="float:right; color:#808080;" id="checkoutusdprice"></p>
    </div>
  </div>
  <hr class="solid" style="color : #414141; border-radius: 5px; border:1px solid #414141">
  <br>

  <center>
    <p style="color: #808080;" id="buyp">Continue to process your transaction</p>
    <br>
    <button class="bluebutton" id="continuebuybutton">Continue</button>
  </center>

</div>