<div id="cancellisting" style="display: none;">

        <center>
                <p style="color: #808080;">Canceling a listing requires a transaction to make sure it will never be
                        fulfillable. Confirm to
                        process your cancellation.</p>
                <br>
                <button class="bluebutton" id="cancellistingconfirmbutton">Confirm</button>
        </center>


</div>