<div id="emptymodal" style="display: none;">

        <center id="emptycenter">
                <p id="emptyp"></p>
        </center>

        <div id="emptytransaction" style="display: none;">
                <br>
                <div style="display:flex; padding-bottom:2.5%" id="emptygasfees">
                        <div style="width: 90%;">
                                <p style="color: #808080;">Estimated Gas Fees</p>
                                <p style="color: #2081E2; font-size:90%">Likely in 30 seconds</p>
                        </div>
                        <div style="width: 10%;">
                                <p style=" float:right; font-size:90%" id="emptygaspriceineth">0.023&#926;</p>
                                <p style="color: #808080; font-size:90%; float:right" id="emptygaspriceinusd">$56.87
                                </p>
                        </div>
                </div><br>
                <center><button id="emptyconfirmbutton" class="bluebutton">Confirm</button></center>

        </div>

</div>