<div id="listingconfirmed" style="display: none;">

    <center>
        <div id="confirmimg">
            <div style="padding-right:5%;padding-left:5%;">
                <img id="listingconfirmedimg" src="" style="border-radius:25px;">
            </div>
            <br>
            <br>
        </div>
        <p id="listingconfirmedp" style="font-size: 100%; color:#808080">Your item is now listed for sale for &#926; and
            is valid for .</p>
        <br>
        <button class="bluebutton" onclick="location.reload()">View Item</button>
    </center>

</div>