<div id="metamaskdecline" style="display: none;">

        <center>
                <p style="font-size: 350%; color:#808080">404</p>
                <p style="font-size: 100%; color:#808080">Something went wrong.</p>
                <br>
                <button class="bluebutton" onclick="location.reload()">Close</button>
        </center>

</div>