<div id="notactive" style="display: none;">

    <center>
        <p>The marketplace will become active after the public mint of Drip Club tokens.<br><br>
            None of the tokens here are minted or listed. This section is only open for viewing.
        </p>
        <br>

        <button class="bluebutton iconbtn" onclick="closemodal()"><span class="icon okayicon">Okay</span></button>
    </center>

</div>