<div id="requestsignature" style="display: none;">

        <center>
                <p id="requestsignaturep" style="font-size: 100%; color:#808080">Accept the transaction request in your
                        wallet and wait
                        for your cancellation to
                        process.</p>
                <br>
                <div style="display: flex;" class="vertcenter">
                        <img src="/3.images/loading.gif" width="5%">
                        <p style="font-size:90%; color:#808080;" id="requestsignaturep2">&nbsp;&nbsp;Processing...</p>
                </div>
        </center>
</div>