<div id="requestpassword" style="display: none;">
  <center>
    <div id="requestpassworddiv"></div>
    <p id="requestpasswordp" style="font-size: 100%; color:#808080">Listing is completely free without any gas fees.
      Enter your
      account
      password to confirm the
      listing :</p>
    <br>
  </center>


  <input type="password" id="requestpasswordinput" placeholder="Password" onclick="hideerror();"
    style="padding:14px; width: 100%; background-color: transparent; border: 1px solid #808080; color: white; width: 100%;   border-radius: 12.5px;">
  <br><br>
  <center>
    <div id="requestpasswordloginerror" class="vertcenter" style="display: none;">
      <i class="material-icons" style="padding-right:1%;font-size:90%;color:#2081e2">warning</i>
      <p id="" style="color: #2081e2; font-size:90%">Incorrect password</p>
    </div><br>
  </center>

  <center>
    <button id="requestpasswordconfirmbutton" class="bluebutton">Confirm</button>
  </center>

</div>

<script>
  function hideerror() {
    document.getElementById("requestpasswordloginerror").style.display = 'none';
  }
</script>