<div class="dropdown" id="profileprofile">
    <button id="profilebtn" class="bluebutton iconbtn loginicon" style="padding:10px;">
        <span class="icon profileicon" style="font-size:85%; font-weight:bold;">My Wallet</span>
    </button>
    <div id="myDropdown" class="dropdown-content">
        <a href="/dashboard" style="">
            <center>
                <p class="dropdownlink">Dashboard</p>
            </center>
        </a>
        <a style="">
            <center>
                <p class="dropdownlink" onclick="logoutuser()">Logout</p>
            </center>
        </a>
    </div>
</div>