<div class="dropdown2">
    <button onclick="myFunction()" class="headerbutton" style=" font-size:80%;">
        Piksl Originals
    </button>
    <div id="myDropdown" class="dropdown2-content">
        <a href="/dripclub" style="">
            <p class="dropdownlink">Drip Club</p>
        </a>
    </div>
</div>