<div class="dropdown2">
    <a href="/dripclub"><button onclick="myFunction()" class="headerbutton" style=" font-size:80%;">
            Piksl Originals
        </button></a>
    <div id="myDropdown" class="dropdown2-content">
        <a href="/dripclub" style="">
            <p class="dropdownlink">Drip Club</p>
        </a>
    </div>
</div>