<div style="width: 22.5%;">
    <div id="mainprofile" style="  border-radius:12.5px; padding:10%; " class="containerdivs">
        <center>
            <img id="pfp" src="" style="border-radius: 50%; border:7.5px solid #b48948; margin-bottom:5%;" width="50%">
            <br>
            <strong>
                <p id="dashboardname" style="font-size: 125%; margin-top:1%;"></p>
            </strong>
            <p style="color: #818181; font-size:80%; margin-top:-0.6%"><span id="dashboardusername"></span><span
                    id="dashboardaddress"></span>
            </p>
            <button id="typeofwallet" class="headingbutton" style="font-size: 70%; ">External
                Wallet</button>
            <br>
            <p class="bluelink" style="font-size: 70%; margin-top:2.5%">Last active : 2 days ago</p>

        </center>
    </div>
</div>