<a href="/fashion">
  <div class="outerparentdiv">
    <div class="parentdiv">
      <div class="childdiv vertcenter txt">
        <center>
          <div id="txt3">
            <div>
              <button class="headingbutton"
                style="background: #D09E53;border:2px solid #D09E53; font-size:150%; color:black; white-space:nowrap; padding:7.5%;">
                Piksl Fashion

              </button>
            </div>
          </div>
        </center>
        <!--<center><p ><strong style="font-size: 250%;">FASHION COLLECTIONS</strong></p></center>-->
      </div>
      <div id="div3" class="childdiv vertcenter pic" id="silk" style="">
        <center>

          <img src="https://storage.piksl.io/3.images/back/pikslfashion3.png" style="border-radius: 25px;">
        </center>
      </div>
    </div>
  </div>
</a>