<link rel="stylesheet" href="https://storage.piksl.io/1.css/desktop/1.mainpages/dripclub/dripclub.css">
<script src="https://storage.piksl.io/2.js/desktop/mainpages/dripclub/dripclub.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/dripclub/mobiledripclub.js"></script>


</head>

<body>
    <div id="loading"> <img id="loadingimg" src="https://storage.piksl.io/3.images/loading.gif" width="4%"
            style="display: none; ">
    </div>
    <div id="body" style="display: none;">
        {{> 0.layout/global/header}}

        <div id="desktop">
            <div id="outer">
                <div id="upper1">
                    {{> 1.mainpages/desktop/dripclub/herobanner}}

                </div>


                <div id="upper2">
                    <div id="gridbanner" style="margin-top:0%;">

                    </div>
                    <div id="blackscreen">

                    </div>
                    <div id="gridtext"
                        style="padding-left: 20%; padding-right:20%; padding-bottom:20%; font-weight:bold;" class="">
                        <div>
                            <button class="bluebutton"
                                style="font-size:90%; color:black; border:2px solid #b48948; background:#b48948; padding:10px;mix-blend-mode: lighten; ">About
                            </button>
                            <li id="li1">Drip Club is an exclusive club of 10,000 collectible characters.</li>
                            <li id="li2">Piksl's first characters.</li>
                            <li id="li3">Piksl's first project.</li><br><br><br>
                            <li id="li4">All Drip Club characters are unique
                                and incredibly diverse,
                            <li id="li5">built using the advancements in art, technology and fashion.</li>
                        </div>


                    </div>
                </div>


                <div id="upper3" style="">
                    <div id="gradientback" class="vertcenter">
                        <div id="propertiesbanner" style=" margin-left:10%; margin-right:10%;">
                            <button class="bluebutton"
                                style="font-size:70%; color:white; border:2px solid black; background:black; padding:10px;mix-blend-mode: darken; ">Properties</button>
                            <br><br>

                            <p class="catnames" style=" color:black;">
                                A blend of over 400 hand-crafted
                                fashion elements.
                            </p>
                        </div>
                    </div>
                    <center>
                        <div id="nftguy" style=" position:sticky ">
                            <img id="nftmain" class="nftotherimgs"
                                src="https://storage.piksl.io/3.images/samples/elements/fullelements/main.png">
                            <img id="nfthat" class="nftotherimgs"
                                src="https://storage.piksl.io/3.images/samples/elements/fullelements/hat.png">
                            <img id="nfthair" class="nftotherimgs"
                                src="https://storage.piksl.io/3.images/samples/elements/fullelements/hair.png">
                            <img id="nftglasses" class="nftotherimgs"
                                src="https://storage.piksl.io/3.images/samples/elements/fullelements/glasses.png">
                            <img id="nftbeard" class="nftotherimgs"
                                src="https://storage.piksl.io/3.images/samples/elements/fullelements/beard.png">
                            <img id="nftclothes" class="nftotherimgs"
                                src="https://storage.piksl.io/3.images/samples/elements/fullelements/clothes.png">
                        </div>

                        <div>
                            <div id="nftcats" style="display: flex; color:black; ">
                                <div style="width: 33.3%;">
                                    <p id="texthat" class="catnames">68 Hats</p>
                                    <p class="catnames" style="margin-top: 100%; opacity:0;">21 Beards</p>

                                    <p id="textglasses" class="catnames" style="margin-top: 100%; ;">29 Sunglasses</p>
                                    <p class="catnames" style="margin-top: 100%; opacity:0;">61 Hairstyles</p>
                                    <p class="catnames" style="margin-top: 100%;">And...</p>
                                    <p class="catnames" style="margin-top: 100%; margin-bottom:100%; opacity:0;">200
                                        Clothes
                                    </p>
                                </div>
                                <div style="width: 33.3%;">

                                </div>

                                <div style="width: 33.3%;">
                                    <p class="catnames" style="opacity: 0;">68 Hats</p>
                                    <p id="textbeard" class="catnames" style="margin-top: 100%;">21 Beards</p>

                                    <p class="catnames" style="margin-top: 100%; opacity:0;">29 Sunglasses</p>
                                    <p id="texthair" class="catnames" style="margin-top: 100%;">61 Hairstyles</p>
                                    <p class="catnames" style="margin-top: 100%; opacity:0;">And...</p>
                                    <p id="textclothes" class="catnames" style="margin-top: 100%; ">200
                                        Clothes
                                    </p>
                                    <p style="margin-bottom:100%; font-weight:bold;">along with more than 150 other
                                        elements
                                    </p>
                                </div>

                            </div>
                        </div>
                    </center>
                </div>

                <div id="blockchainbanner"
                    style="background-color: black; padding:10%; padding-top:7.5%; padding-bottom:15%;"
                    class="vertcenter">
                    <div style="margin-top: 15%;">
                        <center>
                            <button class="bluebutton"
                                style="font-size:70%; color:black; border:2px solid #b48948; background:#b48948; padding:10px; ">Technical
                                Details</button>
                            <br><br>

                            <p style=" color:white; font-size:250%; font-weight:bold">
                                Purposefully built on the security of Ethereum blockchain.
                            </p>
                        </center>
                        <img id="chainimg" src="3.images/back/blockchain.png" width="100%"
                            style="margin-top: 7.5%; margin-bottom:5%;">
                        <center>
                            <p id="chaintext" style="margin-left: 20%; margin-right:20%;">All Drip Club characters are
                                deployed on the
                                Ethereum
                                Blockchain as an NFT.
                                NFTs are tokens that we can use to represent ownership of unique items.
                                They can only have one official owner at a time and since they're secured by the
                                blockchain,
                                no
                                one
                                can modify the
                                record of ownership or copy/paste a new NFT into existence.
                            </p>
                        </center>

                    </div>

                </div>
                <div id="upper4">
                    <div id="market" style="padding-right:20%; padding-left:20%;">
                        <button class="bluebutton"
                            style="font-size:70%; color:#212121; border:2px solid #b48948; background:#b48948; padding:10px; ">Piksl
                            Marketplace</button>
                        <br><br>

                        <p class="catnames" style=" color:#b48948; ">
                            A dedicated marketplace for Piksl Community.
                        </p><br>
                        <p style=" font-size: 200%; ">
                            Piksl Marketplace is a marketplace designed especially for the purchase and sale of the Drip
                            Club and all other Piksl
                            products in the future. The marketplace operates independently and runs self sufficiently
                            with
                            Piksl’s own Piksl Wallet.
                            <br><br>

                            The establishment of a specialized marketplace and wallet for the Piksl community enables
                            the
                            community to maintain its
                            independence from any third-party platform, ensuring the protection of their valued assets
                            with
                            a step forward toward
                            the all-inclusive Piksl ecosystem.<br><br>

                            Additionally, all Drip Club tokens are ERC-721 compliant and may be exchanged seamlessly on
                            all
                            other exchanges in
                            addition to Piksl Marketplace, giving the holders freedom to choose accordingly.

                        </p>
                    </div>
                    <div id="marketsmalldiv" style="">
                        <center>
                            <img id="marketimg" src="/3.images/back/marketbannerbig2.png" width="100%" style="">
                        </center>
                    </div>
                </div>


                <div id="support" style="background-color: black; padding-top:10%; padding-bottom:10%;">
                    <center>
                        <p style="font-size: 250%; font-weight: bold;">MEET THE COMMUNITY</p>
                        <p>Follow Drip Club on social media :</p>
                        <br>
                        <div style="display: flex;" class="vertcenter">
                            <a href="https://twitter.com/piksllabs" target="_blank"><button class="bluebutton iconbtn"
                                    style="padding:10px; margin-right:1%;">
                                    <span class="icon twittericon"
                                        style="font-size: 85%; font-weight:bold;">Twitter</span>
                                </button></a>
                            <a href="https://discord.gg/bjGpSXWgH2" target="_blank"> <button class="bluebutton iconbtn"
                                    style="padding:10px;margin-left:1%;">
                                    <span class="icon discordicon"
                                        style="font-size: 85%; font-weight:bold;">Discord</span>
                                </button></a>
                        </div>
                    </center>
                </div>





            </div>
        </div>
        <!---Desktop Site-->










        <!---Mobile Site-->
        <div id="mobile">
        </div>


        {{> 0.layout/global/footer}}



    </div>
</body>


{{!-- <div id="pfp"
    style="padding: 10%; display: flex; justify-content: space-around;align-items: flex-start;overflow: visible; ">

    <div id="stickyside" style="width:50%; background-color: black; padding:5%; position: sticky;  ">
        <br>
        <p style="font-size:100%;">The new face of a revolutionary cultural phenomena</p><br>
        <p>With the emergence of a highly anticipated "Metaverse", there is a call for a
            revolutionary
            adaption of a new identity that fits people from all spheres of the world as we interact
            in the
            Metaverse.</p>
        <br>
        <p>Drip Club characters conforms to this desire of identification across various social
            media
            platforms, and across all the works done by Piksl in the future.</p>

    </div>

</div> --}}