<link rel="stylesheet" href="https://storage.piksl.io/1.css/desktop/1.mainpages/roadmap/roadmap.css">
<script src="https://storage.piksl.io/2.js/desktop/mainpages/roadmap/roadmap.js"></script>

</head>

<body>
    <div id="loading"> <img id="loadingimg" src="https://storage.piksl.io/3.images/loading.gif" width="4%"
            style="display: none; ">
    </div>
    <div id="body" style="display: none;">
        {{> 0.layout/global/header}}
        <div id="desktop">

            <div id="outer">
                <div id="upper" style=" ">


                </div>
                <div id="fashiontext" class=" upper" style="font-weight:bold; color:white">
                    <p id="roadmaptitle" style="font-size: 150%; padding-top:2.5%; padding-left:5.5%;padding-right:5%;">
                        ROADMAP
                    </p>

                    <div id="subheading" class="vertcenter">
                        <center>
                            <p style="font-size: 150%;">A brief look into the future</p>
                        </center>
                    </div>

                    <div id="projects" style="padding-top: 2%;">
                        <p id="projectstitle" style="font-size: 450%; padding-left:5%;padding-right:5%;">Projects</p>
                        <div class="points"
                            style="margin-left: 25%; margin-right:25%; padding-top:12.5%; padding-bottom:12.5%;">
                            <center>
                                <p class="pheading" style="font-size: 350%; text-weight:bold;">1. DRIP CLUB</p>
                                <p class="psub">The launch of the first 10,000 Piksl characters.</p>
                            </center><br>
                            <center>
                                <img src="3.images/back/grid.png" width="80%" style="border-radius: 12.5px;">

                        </div>
                        <div class="points"
                            style="margin-left: 25%; margin-right:25%; padding-top:12.5%; padding-bottom:12.5%;">
                            <center>
                                <p class="pheading" style="font-size: 350%; text-weight:bold;">2. MARKETPLACE</p>
                                <p class="psub">Developing a peer-to-peer NFT Marketplace to work as the Piksl
                                    ecosystem's backbone.
                                </p>
                            </center><br>
                            <center>
                                <img src="3.images/back/marketbanner.png" width="80%" style="border-radius: 12.5px;">
                            </center>
                        </div>
                        <div class="points"
                            style="margin-left: 25%; margin-right:25%; padding-top:12.5%; padding-bottom:12.5%;">
                            <center>
                                <p class="pheading" style="font-size: 350%; text-weight:bold;">3. WALLET</p>
                                <p class="psub">Expanding Piksl Wallet to foster platform innovation.
                                </p>
                            </center><br>
                            <center>
                                <img src="3.images/back/wallet.png" width="80%" style="border-radius: 12.5px;">
                            </center>
                        </div>

                        <div class="points"
                            style="margin-left: 25%; margin-right:25%; padding-top:12.5%; padding-bottom:12.5%;">
                            <center>
                                <p class="pheading" style="font-size: 350%; text-weight:bold;">3. FRACTIONAL OWNERSHIP
                                </p>
                                <p class="psub">Addition of fractional options to the Marketplace user-interface to
                                    facilitate more participation
                                    and inclusion to the Piksl community.</p>
                            </center><br>
                            <center>
                                <img src="3.images/back/fractionalise.png" width="80%" style="border-radius: 12.5px;">
                            </center>
                        </div>
                    </div>

                    <div id="ventures" style="padding-top: 2%;">
                        <p id="venturestitle" style="font-size: 450%; padding-left:5%;padding-right:5%;">Ventures</p>
                        <div class="points"
                            style="margin-left: 25%; margin-right:25%; padding-top:12.5%; padding-bottom:12.5%;">
                            <center>
                                <p class="pheading" style="font-size: 350%; text-weight:bold;">1. PIKSL FASHION</p>
                                <p class="psub">Implementation of the NFT token standard in the tokenization of physical
                                    high-fashion products.
                                </p>
                            </center><br>
                            <center>
                                <img src="3.images/back/pikslfashion3.png" width="80%" style="border-radius: 12.5px;">
                            </center>
                        </div>
                        <div class="points"
                            style="margin-left: 25%; margin-right:25%; padding-top:12.5%; padding-bottom:12.5%;">
                            <center>
                                <p class="pheading" style="font-size: 350%; text-weight:bold;">2. VIRTUAL WORLDS</p>
                                <p class="psub">Building a virtual metaverse for Piksl community, including
                                    virtual
                                    ownership of
                                    lands,
                                    homes and other digital
                                    items.</p>
                            </center><br>
                            <center>
                                <img src="3.images/back/vr.png" width="80%" style="border-radius: 12.5px;">
                            </center>
                        </div>

                    </div>

                    <div id="pikslspace" style="padding-top: 2%;">
                        <p id="pikslspacetitle" style="font-size: 450%; padding-left:5%;padding-right:5%;">Pikslspace
                        </p>
                        <div class="points"
                            style="margin-left: 25%; margin-right:25%; padding-top:12.5%; padding-bottom:12.5%;">
                            <center>
                                <p class="pheading" style="font-size: 350%; text-weight:bold;">1. PIKSLSPACE</p>
                                <p class="psub">Connecting everything into an all-Piksl ecosystem that includes a
                                    social-media platform, a peer-to-peer marketplace, and virtual
                                    reality spaces, among other things.</p>
                            </center><br>
                            <center>
                                <img src="3.images/back/pikslspace.png" width="80%" style="border-radius: 12.5px;">
                            </center>
                        </div>


                    </div>

                </div>







            </div>
        </div>
        <!---Desktop Site-->


        <!---Mobile Site-->
        <div id="mobile">

        </div>
        <!---Mobile Site-->

        {{> 0.layout/global/footer}}

    </div>