<link rel="stylesheet" href="https://storage.piksl.io/1.css/desktop/1.mainpages/tokens/token.css">
<link rel="stylesheet" href="https://storage.piksl.io/1.css/desktop/1.mainpages/marketplace/marketplace.css">

<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/tokenload.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/mobiletokens.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/tokenmodals.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/listtokens.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/minttokens.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/selltoken.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/changeprice.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/cancellisting.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/buytoken.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/showmodal.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/makeoffer.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/wrapether.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/listingdone.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/smallfunctions/togglebox.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/acceptoffer.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/gasestimation.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/canceloffer.js"></script>
<script src="https://storage.piksl.io/2.js/desktop/mainpages/tokens/modals/send.js"></script>








{{!--
<script src="/resources/js/oldtoken.js"></script> --}}

<script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" charset="utf-8" type="text/javascript">
</script>




</head>

<body>
    <div id="loading"> <img id="loadingimg" src="https://storage.piksl.io/3.images/loading.gif" width="4%"
            style="display: none; ">
    </div>
    <div id="body" style="display: none;">
        {{> 0.layout/global/header}}
        <div id="desktop" style="padding-bottom: 2.5%;">


            <div id="upper" style="display:none;">
                <div class="maincontainer" style="display: flex; ">
                    <div id="leftside" style="width: 45%; padding-left: 12.5%; padding-right: 2.5%;">
                        <br>
                        <div id="imgbox" class="containerdivs" style="border-radius: 12.5px;padding:5%">
                            <img id="tokenimg" src="" style="border-radius: 2.5%; ">
                        </div>
                        <br>


                        {{> 1.mainpages/desktop/tokens/detailsbox}}


                        <br>
                    </div>
                    <div id="rightside" style="width: 55%;padding-right: 12.5%; ">

                        <br>
                        <div id="tokeninfo">
                            <a href="../marketplace">
                                <p class="bluelink" style="font-size: 90%;">Drip Club</p>
                            </a>
                            <p id="tokenidhead" style="font-size: 200%; font-weight: bold;">Piksl #100</p>
                            <p style="font-size:85%; color: #808080;">Owned by : <a class="bluelink"
                                    id="ownedbyaddress"></a>
                            </p>
                        </div>
                        <br>

                        {{> 1.mainpages/desktop/tokens/pricebox}}
                        <br>
                        {{> 1.mainpages/desktop/tokens/propertiesbox}}
                        <br>
                        {{> 1.mainpages/desktop/tokens/listingsbox}}
                        <br>
                        {{> 1.mainpages/desktop/tokens/offersbox}}


                    </div>
                </div>
                <br>

                <div id="lowercontainer" style="margin-right: 12.5%; margin-left: 12.5%;">
                    {{> 1.mainpages/desktop/tokens/transactionhistorybox}}
                </div>
                <br>
            </div>


            <div id="buysellmodal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" style="font-size:80%; padding-left:4%; padding-right:4%;">
                    <span id="buysellclosebtn" class="closebtn">&times;</span>
                    <center>

                        <p style="font-size: 250%;" id="modalheading">SELL</p>



                        <button id="modalsubheading"
                            style="padding: 10px; border:2px solid #b48948; color:#b48948; background:transparent; border-radius:50px; font-size:90%; padding-bottom:12px">
                            LIST ITEM FOR SALE
                        </button>
                        <br><br>
                    </center>

                    <div id="modalbody">

                        {{!-- buy --}}
                        {{> 1.mainpages/desktop/tokens/modals/buy}}

                        {{!-- sell --}}
                        {{> 1.mainpages/desktop/tokens/modals/sell}}

                        {{!-- change price --}}
                        {{> 1.mainpages/desktop/tokens/modals/changeprice}}

                        {{!-- Cancel listing --}}
                        {{> 1.mainpages/desktop/tokens/modals/cancellisting}}

                        {{!-- Request Signature --}}
                        {{> 1.mainpages/desktop/tokens/modals/requestsignature}}

                        {{!-- Request Password --}}
                        {{> 1.mainpages/desktop/tokens/modals/requestpassword}}

                        {{!-- Metamask Decline --}}
                        {{> 1.mainpages/desktop/tokens/modals/metamaskdecline}}

                        {{!-- Listing Confirmed --}}
                        {{> 1.mainpages/desktop/tokens/modals/listingconfirmed}}

                        {{!-- Loading Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/loadingmodal}}

                        {{!-- Gas Price Estimation Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/gaspriceestimation}}

                        {{!-- Gas Price Estimation Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/editgasfees}}

                        {{!-- Make Offer Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/makeoffer}}

                        {{!-- Wrap Ether Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/wrapether}}

                        {{!--Empty Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/emptymodal}}

                        {{!--Swap Tokens Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/swaptokens}}

                        {{!--Send Modal --}}
                        {{> 1.mainpages/desktop/tokens/modals/send}}

                        {{> 1.mainpages/desktop/tokens/modals/notactive}}


                    </div>
                </div>

            </div>


        </div>
        <!---Desktop Site-->








        <!---Mobile Site-->
        <div id="mobile">
            <div id="uppermobile" style="display: none;">
                <div id="upperinnermobile">

                </div>
            </div>
        </div>
        <!---Mobile Site-->
        {{> 0.layout/global/footer}}
    </div>