<img id="curtainimg" src="3.images/samples/curtain.png">
<div id="mosaicouterdiv">
    {{!-- <div class="mosaicrow" id="firstrow">
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/5.png">
        </div>

        <div class="mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <div class="mosaicimg">
                <img src="3.images/samples/2.png">
            </div>
        </div>
        <div class="mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/37.png">
        </div>
        <div class="mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/9.png">
        </div>
    </div>


    <div class="mosaicrow">
        <div class=" mosaiccolumn">
            <img src="3.images/samples/transparent.png">

        </div>

        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/15.png">
        </div>

        <div class=" mosaiccolumn">
            <img src="3.images/samples/transparent.png">

        </div>

        <div class=" vertcenter mosaiccolumn">
            <center>
                <button
                    style="background-color: #D09E53; color:black; font-weight: bold; border-radius:50px; padding:12.5px;">Piksl
                    Originals</button>
                <p style="font-size: 450%; color:#D09E53; white-space:nowrap; margin-top:-2.5%; " id="dripclubtitle">
                    <strong>DRIP
                        CLUB</strong>
                </p>
            </center>
        </div>

        <div class=" mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>

        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/17.png">
        </div>
        <div class=" mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>
    </div>

    <div style="display: flex; margin-right:-10%; margin-left:-10%">
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/22.png">
        </div>
        <div class="mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/25.png">
        </div>
        <div class="mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/27.png">
        </div>
        <div class="mosaiccolumn">
            <img src="3.images/samples/transparent.png">
        </div>
        <div class="mosaicdiv vertcenter mosaiccolumn">
            <img class="mosaicimg" src="3.images/samples/29.png">
        </div>
    </div> --}}
</div>