<div id="collectioninfo" style="border-bottom: 10px solid #b48948;">
    <div style="margin-left: 2.75%; margin-right: 2.75%; border-radius: 12.5px;  background:#b48948">

        <img id="marketbanner" src="https://storage.piksl.io/3.images/2.png"
            style="border-bottom-left-radius: 12.5px; border-bottom-right-radius: 12.5px;  width: 100%;  object-fit: cover; background:#b48948; ">
    </div>
    <div>
        {{!-- <center><img src="https://storage.piksl.io/3.images/logogold.png" width="7%"
                style="border-radius: 50%; border: 5px solid #b48948;  margin-top: -3.5%;z-index:1;   position: relative;">
        </center> --}}
        <br>
        <div style="height:10px;" aria-hidden="true" class="wp-block-spacer"></div>
        <div style="margin-right: 40%; margin-left:40%;">
            <div>

            </div>
            <div id="collectiontitle" style="">
                <center>
                    <button class="headingbutton" style="background:transparent; color:#25282c; 
                    border:2px solid white; padding:5px; background:white; 
                    font-size:70%; white-space:nowrap; margin-bottom:-5%">Piksl
                        Originals</button>
                </center>
                <center style=" margin-top:-5.5%;">
                    <span style="font-size:350%;  border-radius:12.5px; color:white; font-weight:bold; white-space:nowrap;
                      margin-left: -100%; margin-right: -100%; text-align: center; ">
                        Drip Club</span>
                </center>
            </div>

        </div>
        <br>
        <div style="margin-left: 35%; margin-right: 35%;  margin-top: -1%;">

            <div class="containerdivs" id="prop" style="border-radius: 12.5px;padding: 2.5%; ">
                <div style="display: flex; padding-top: 1%;">
                    <div class="floordiv pointer smalldivs" id="floordiv1">
                        <center>
                            <p id="flooritem1" class="flooritem">ITEMS</p>
                            <p id="totalitems" style="font-size: 100%; color:#ffffff">-</p>
                        </center>
                    </div>
                    <div class="floordiv pointer smalldivs" id="floordiv2">
                        <center>
                            <p id="flooritem2" class="flooritem">OWNERS</p>
                            <p id="totalholders" style="font-size: 100%; color:#ffffff">-</p>
                        </center>
                    </div>
                    <div class="floordiv pointer smalldivs" id="floordiv3">
                        <center>
                            <p id="flooritem3" class="flooritem">FLOOR</p>
                            <p id="floorprice" style="font-size: 100%; color:#ffffff" class="icon ethicon">-</p>
                        </center>
                    </div>
                    <div class="floordiv pointer smalldivs" id="floordiv4">
                        <center>
                            <p id="flooritem4" class="flooritem">VOLUME</p>
                            <p style="font-size: 100%; color:#ffffff" class="icon ethicon">-</p>
                        </center>
                    </div>
                </div>

            </div>





        </div>


        <div id="descriptiondiv" style="margin-left: 30%; margin-right: 30%; margin-top:2%;">
            <div id="info">
                <center>
                    <p style=" padding-top: 0%; font-size: 90%; color: #808080;">Drip Club is an exclusive club of
                        10,000 collectible Piksl characters. The characters are unique and highly diverse with
                        special fashion elements, built on the gold standard of Ethereum Blockchain.
                    </p>
                </center>
            </div>
        </div>


        <br>
    </div>
</div>