<div id="sortsidebar" style=" width:20%;  padding-left: 1.5%; position: sticky;  ">

    <div id="sidebarinner" class="containerdivs">

        <div class="sidebarhead" id="sidebarhead">
            <p style="font-size: 80%; color:#818181"><button class="headingbutton">Filter By</button></p>
        </div>
        <div id="scrollbar">

            <div class="showsidebar pointer" onclick="togglehideshow('categories');">
                <p style="display: inline-block; font-weight: bold;">Categories</p><i
                    style=" float:right; margin-top: 2.5%; " class="arrow down"></i>
            </div>
            <div style="font-size: 85%; color: white; padding-left: 4.5%;padding-right: 4.5%; display: block; margin-top:2%; "
                id="categories">

            </div>

            <div id="sidebarspacer" style="" aria-hidden="true" class="wp-block-spacer"></div>
        </div><br>
    </div>
</div>