<div id="properties" style=" border-radius: 12.5px; padding: 2.5%; " class="containerdivs">
    <div style="display: flex;" class="pointer" onclick="togglediv('properties');">
        <div style="width: 90%;">
            <p style="color: #808080; font-size: 80%;"><button class="headingbutton">Properties</button></p>
        </div>
        <div style="width :10%; margin-top: 1%;">
            <i style=" float:right; color: #808080;" class="arrowdark up" id="propertiesarrow"></i>
        </div>
    </div>
    <div id="propertiesdiv" style="display: block;">

    </div>
</div>