<div class="containerdivs" id="transactionhistory" style="border-radius: 12.5px; padding: 2.5%; ">
    <p style="color: #808080; font-size: 80%;"><button class="headingbutton">Transaction History</button></p>

    <table id="transactionstable" style="">
        <tr>
            <th>EVENT</th>
            <th>PRICE</th>
            <th>FROM</th>
            <th>TO</th>
            <th>DATE</th>
        </tr>
    </table>

    <div id="transactionsloading">
        <br>
        <center><img src="/3.images/loading.gif" width="3.5%"></center>
        <br>
    </div>

</div>