<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Piksl</title>

    {{> 0.layout/imports_css}}
    {{> 0.layout/imports_js}}
    {{> 0.layout/metadata}}

    {{{body}}}
    </body>

</html>