<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215910220-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-215910220-1');
    </script>


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Piksl</title>

    {{> 0.layout/imports_css}}
    {{> 0.layout/imports_js}}
    {{> 0.layout/metadata}}

    {{{body}}}
    </body>

</html>